<div class="main-content">

  <div>
    <div class="row">
      <div class="col-3">
        <app-gm-scoreboard></app-gm-scoreboard>
      </div>
  
      <div class="col game-area">
        <div class="top-display">
          <div class="top-display-num">
            <div *ngFor="let numeric of numericDisplay;">
              <ng-template #numberFromAttacker>
                <div class="number-from-attacker" [ngClass]="{'shake-opacity shake-constant': mp.isNearLosing()}">
                  <h1>{{numeric.split('\n')[1]}}</h1>
                  <p>{{numeric.split('\n')[0]}}</p>
                </div>
              </ng-template>

              <h1 *ngIf="(numeric.split('\n').length == 1); else numberFromAttacker" [ngClass]="{'shake-opacity shake-constant': mp.isNearLosing()}">{{numeric}}</h1>
            </div>
          </div>

          <div *ngIf="(mp.LocalPlayer().ammo.length > 0)">
            <hr>

            <div class="top-display-ammo">
              <i class="fa fa-bomb mt-1"></i>
              
              <div *ngFor="let number of mp.LocalPlayer().ammo;">
                <h5>{{number}}</h5>
              </div>
            </div>
          </div>

          <div class="time-bar-background"><div id="time-bar" class="time-bar"></div></div>
        </div>
    
        
        <div class="num-cards">
  
          <div *ngFor="let card of cards;" class="item">
  
            <div class="card test" [ngClass]="{'highlight' : card.highlighted}">
  
              <div *ngFor="let indexOfRow of numberToArray(CARD_ROWS);" class="row">
  
                <div *ngFor="let number of getSubArray(indexOfRow, card.numbers)" class="col m-0 p-0">

                  <p (click)="onSelect(card, number)" [ngClass]="{'p-selectable': card.highlighted, 'shake-opacity shake-constant': mp.isNearLosing()}">{{number}}</p> 
  
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
        <div *ngIf="(mp.isPlayerOut(mp.LocalPlayer().nickname) || mp.getWinner())" class="cover">
          <h1>Terminou em {{mp.getPlayerPositionOnScoreboard()+1}}/{{mp.getPlayers().length}}</h1>
        </div>
      </div>
    </div>
  </div>

</div>