.main-content{

  user-select: none; //DISABLE USER SELECTION

  .row{
    margin: 20px;

    .game-area{

      position: relative;

      padding: 0;

      border: 1px solid #dee2e6;
      border-radius: 15px;
      box-shadow: 4px 4px 8px 2px #888888;

      .top-display{

        position: relative;
        
        .top-display-num{

          display: flex;
          justify-content: center;
          align-items: center;
  
          h1{
            padding: 0;
            margin: 5px 0;
            text-align: center;
            width: 6.5vw;
            //font-size: 2.3vw;
          }

          .number-from-attacker{
            position: relative;

            h1{
              color: red;
            }

            p{
              position: absolute;
              
              left: 0;
              right: 0;
              bottom: -21px;
              margin-left: auto;
              margin-right: auto;
              width: 6.5vw;
              font-size: 10px;
              text-align: center;
              color: red;
            } 
          }

        }

        hr{
          margin: 0 40px;
          padding: 0;
        }

        .top-display-ammo{

          margin: 0 45px;

          display: flex;
          justify-content: flex-start;
          align-items: center;

          i{
            margin-right: 20px;
            color: red;
          }

          h5{
            margin: 5px 20px;
            color: red;
          }

        }

        .time-bar-background{
          position: absolute;
          left: 0;
          bottom: -4px;

          width: 100%;
          height: 4px;

          background-color: rgba(0, 0, 0, 0.25);

          .time-bar{
            width: 0%;
            height: 100%;
            background-color: #FEDE17;
            transition: width 250ms linear;
          }
        }
      }
      
      .num-cards{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;

        margin: 10px;
        margin-top: 14px;

        .item{
          .card{
            margin: 6px;
            border-radius: 15px;

            .row{
              margin: 0;
              padding: 0;
      
              p{
                margin: 5px 0.8vw;
                text-align: center;
                font-size: 1.2vw;

                transition: all .25s;
              }

              .p-selectable{
                cursor: pointer;
              }

              .p-selectable:hover{
                //font-size: 1.0vw;
                //border: 1px solid red;
                color: #FEDE17;
              }
            }  
          }
        }

      }

      .cover{
        display: flex;
        align-items: center;
        justify-content: center;
    
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.8);
    
        h1{
          color: #FEDE17;
          font-size: 60px;
        }
      }

    }
  }

}

.highlight{
  box-shadow: 0px 0px 4px 1px #FEDE17;
}