<div class="main-content">
  <!--
  <div *ngFor="let player of mp.getPlayerScoreboard(); let i = index;">
    <div id="player_{{i}}" [@fadeAnimation]="isHovered(i) ? 'focus' : 'unfocus'"
      class="card"  [ngClass]="{'card-targetable': canAttack(player)}" (click)="attackPlayer(player)">
    (...)
  -->
  
  <div *ngFor="let player of mp.getPlayerScoreboard();">
    <div class="card" [ngClass]="{'card-targetable': canAttack(player)}" (click)="attackPlayer(player)">
      
      <p class="player-name">{{player.nickname}}</p>

      <hr>
      
      <div>
        <ng-template #noNumber>
          <p class="player-waiting">Sem números.</p>
        </ng-template>
        
        <div *ngIf="(player.numbers && player.numbers.length > 0); else noNumber">
          <div class="player-numbers">
            <div *ngFor="let hidden of player.numbers">
              <ng-template #self>
                <p [ngClass]="{'shake-opacity shake-constant': mp.isNearLosing(player.nickname)}">??</p>
              </ng-template>
        
              <div *ngIf="(player.nickname !== mp.LocalPlayer().nickname); else self">
                <p [ngClass]="{'shake-little shake-constant': mp.isNearLosing(player.nickname)}">{{hidden.number}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="(!mp.getWinner() && mp.isPlayerOut(player.nickname))" class="eliminated-cover">
        <h4 class="shake-little shake-constant">Eliminado</h4>
      </div>

    </div>
  </div>
</div>