/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}*/

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 15px;
}

.main-content{
  overflow-y: auto;
  overflow-x: hidden;
  //width: 100px;
  height: 100%;

  .card{

    position: relative;

    margin-top: 2px;
    padding: 10px;
    border-radius: 15px;

    .player-name{
      margin-bottom: 8px;
      padding: 0;
    }

    hr{
      margin: 0;
      padding: 0;
    }

    .player-waiting{
      margin-top: 8px;
      margin-bottom: 0;
    }

    .player-numbers{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;

      margin-top: 8px;
      
      p{
        margin: 0 5px;
        padding: 0;
      }
    }
    
    .eliminated-cover{
      display: flex;
      align-items: center;
      justify-content: center;
    
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: rgba(31, 12, 12, 0.8);
    
      h4{
        color: #FEDE17;
        //font-size: 60px;
      }
    }

  }

  .card-targetable{
    cursor: pointer;
  }

  .card-targetable:hover{
    padding: 12px;
    border-color: red;
  }
}

.playerOut{
  background-color: grey;
}