<div class="main-content">
  <div class="card">
    <div class="card-title">
      <h1 class="p-0 m-0">{{mp.getTitle()}}</h1>
    </div>

    <hr class="p-0 m-0">

    <div class="card-body">
      <h4>Jogadores:</h4>
      <div class="player-list">
        <p *ngFor="let player of mp.getPlayers()">{{player.nickname}}</p>
      </div>
    </div>

    <div *ngIf="mp.isOwner()" class="card-footer">
      <button type="button" class="btn btn-outline-success" [disabled]="(mp.getPlayers().length < 2)" (click)="startGame()">
        <i class="fa fa-rocket" style="margin-right: 10px"></i>Iniciar Partida</button>
    </div>

  </div>

  <p class="lobby-id">Identificação do jogo: {{mp.getId()}}</p>
</div>