.main-content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  //background-color: #FEDE17;
}

.card{
  border-radius: 15px;
  box-shadow: 4px 4px 8px 2px #888888;
  
  .card-title{
    margin: 0;
    padding: 15px;

    text-align: center;
  }

  .card-body{

    .player-list{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      height: 50vh;
      width: 75vw;

      p{
        margin: 10px;
        padding: 0;

        font-size: 20px;
      }
    }

  }

  .card-footer{
    padding: 10px;
    margin: 0;
   
    button{
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      width: 100%;
    }
  }
}

.lobby-id{
  margin-top: 10px;
  margin-bottom: 0;
  
  color: grey;
  font-weight: bold;
}