<div id="num-display">
  <div class="display">
    <div *ngFor="let numeric of numericDisplay;">
      <h1 [ngClass]="{'shake-opacity shake-constant': mp.isNearLosing()}">{{numeric}}</h1>
    </div>
  </div>

  <!--<div *ngIf="(mp.LocalPlayer().ammo.length > 0)">
    <hr>

    <div class="ammo">
      <i class="fa fa-bomb mt-1"></i>
      
      <div *ngFor="let number of mp.LocalPlayer().ammo;">
        <h5>{{number}}</h5>
      </div>
    </div>
  </div>-->

  <div class="time-bar-bg"><div id="time-bar" class="time-bar"></div></div>
</div>