#num-display{

	position: relative;
	
	.display{

		display: flex;
		justify-content: center;
		align-items: center;

		h1{
			padding: 0;
			margin: 5px 0;
			text-align: center;
			width: 6.5vw;
			//font-size: 2.3vw;
		}

	}

	hr{
		margin: 0 40px;
		padding: 0;
	}

	.ammo{

		margin: 0 45px;

		display: flex;
		justify-content: flex-start;
		align-items: center;

		i{
			margin-right: 20px;
			color: red;
		}

		h5{
			margin: 5px 20px;
			color: red;
		}

	}

	.time-bar-bg{

		position: absolute;
		left: 0;
		bottom: -4px;

		width: 100%;
		height: 4px;

		background-color: rgba(0, 0, 0, 0.25);

		.time-bar{
			width: 0%;
			height: 100%;
			background-color: #FEDE17;
			transition: width 250ms linear;
		}

	}
	
}