<div class="main-content">

  <div class="card">
    <form>
      
      <!--<div class="form-floating mb-3">
        <input type="text" class="form-control" id="lobbyInputFloating" placeholder="Identificação do jogo">
        <label for="lobbyInputFloating">Juntar-se à um jogo existente</label>
      </div>-->

      <!--<div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">Username</label>
        <div class="input-group has-validation">
          <input formControlName="lobby"
            type="text" class="form-control" id="validationCustomUsername" required>
          <small *ngIf="form.controls.lobby.touched">O lobby inserido não está disponível.</small>
        </div>
      </div>-->

      <div class="join-box">
        <div class="form-group">
          <label class="mb-1">Juntar-se à um jogo existente</label>
          <input [(ngModel)]="form_lobbyId" name="lobbyId"
            type="text" class="form-control" placeholder="Identificação do jogo">
        </div>

        <button type="button" class="btn btn-primary" (click)="modalOpen(true)">
          <i class="fa fa-mail-forward" style="margin-right: 10px"></i>
          Junte-se à uma sala
        </button>
        <button id="joinLobbyModal-open" style="display: none;" data-bs-toggle="modal" data-bs-target="#joinLobbyModal"></button>

        <div class="separator">
          <hr>
          <p>ou</p>
          <hr>
        </div>

        <button type="button" class="btn btn-outline-success" (click)="modalOpen(false)">
          <i class="fa fa-plus" style="margin-right: 10px"></i>
          Crie sua própria sala
        </button>
        <button id="createLobbyModal-open" style="display: none;" data-bs-toggle="modal" data-bs-target="#createLobbyModal"></button>
      </div>
    </form>

    <!-- BOOTSTRAP MODAL -->
      <!-- Create Lobby -->
    <div class="modal fade" id="createLobbyModal" tabindex="-1" aria-labelledby="createLobbyModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createLobbyModalLabel">Criar Sala</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="mb-3">
              <label class="form-label">Título da sala</label>
              <input [(ngModel)]="form_lobbyCreateTitle" name="lobbyCreateTitle" (keyup)="errorReset(1)"
                type="text" class="form-control">
              <small *ngIf="(form_err_lobbyCreateTitle != '')" style="color: red">{{form_err_lobbyCreateTitle}}</small>
            </div>
            
            <div class="mb-3">
              <label class="form-label">Escolha um apelido</label>
              <input [(ngModel)]="form_playerNick" name="playerNick" (keyup)="errorReset(2)"
                type="text" class="form-control" aria-describedby="nicknameHelp">
              <div id="nicknameHelp" class="form-text">Apelidos não são salvos.</div>
              <small *ngIf="(form_err_playerNick != '')" style="color: red">{{form_err_playerNick}}</small>
            </div>
            
          </div>
          <div class="modal-footer">
            <button id="createLobbyModal-dismiss" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
              <i class="fa fa-times" style="margin-right: 10px"></i>Cancelar</button>
            <button type="button" class="btn btn-success" (click)="lobbyCreate()">
              <i class="fa fa-check" style="margin-right: 10px"></i>Criar</button>
          </div>
        </div>
      </div>
    </div>

      <!-- Join Lobby -->
    <div class="modal fade" id="joinLobbyModal" tabindex="-1" aria-labelledby="joinLobbyModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="joinLobbyModalLabel">Juntar-se à Sala</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="mb-3">
              <label class="form-label">Escolha um apelido</label>
              <input [(ngModel)]="form_playerNick" name="playerNick" (keyup)="errorReset(2)"
                type="text" class="form-control" aria-describedby="nicknameHelp">
              <div id="nicknameHelp" class="form-text">Apelidos não são salvos.</div>
              <small *ngIf="(form_err_playerNick != '')" style="color: red">{{form_err_playerNick}}</small>
            </div>
            
          </div>
          <div class="modal-footer">
            <button id="joinLobbyModal-dismiss" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
              <i class="fa fa-times" style="margin-right: 10px"></i>Cancelar</button>
            <button type="button" class="btn btn-success" (click)="lobbyJoin()">
              <i class="fa fa-check" style="margin-right: 10px"></i>Juntar-se</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img class="puc-rio-logo" src="../../../assets/img/puc-rio.png">

</div>