.main-content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  //background-color: grey;
}

.puc-rio-logo{
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 60px;
}

.card{
  border-radius: 15px;
  box-shadow: 4px 4px 8px 2px #888888;

  padding: 15px;
  
  width: 370px;
  max-width: 90vw;

  .join-box{
    button{
      margin-top: 10px;
      width: 100%;
    }

    .form-group{
      fa-icon{
        display: inline-block;
        margin: 0;
        padding: 0;
      }
    }

    .separator{
      hr:first-child{
        margin-top: 20px;
        margin-bottom: 10px;

        width: 50%;
      }
      
      hr{
        margin: 0 auto;
        padding: 0;
      }

      hr:last-child{
        margin-top: 10px;
        margin-bottom: 10px;

        width: 50%;
      }

      p{
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
  }
}

.modal-content{
  .modal-footer{
    display: flex;
    justify-content: center;

    button{
      margin: 0 5px;
      width: 25%;
    }
  }
}